.footerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 26px 60px;
  max-width: 1440px;
  margin: 80px auto;

  .footerLeft {
    width: 883px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    .footerBoxItem {
      text-align: left;

      .footerBoxItemTitle {
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        text-align: left;

      }

      .footerBoxItemText {
        color: #FFF;
        text-align: center;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        margin-top: 24px;
        text-align: left;

        &:nth-child(2) {
          margin-top: 40px;
        }

      }
    }
  }

  .footerRight {
    width: 280px;
    .logo {
      width: 102px;
      height: 32px;
      flex-shrink: 0;
    }

    .communityIconBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 76px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
